<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body> -->
        <!-- importing header using ejs (_header.ejs file in same folder) -->
        <!-- <%- include('_header'); -%> -->

        <h1>Codeial Address page / <%= title %></h1>
        
        <!-- importing footer using ejs (_footer.ejs file in same folder) -->
        <!-- <%- include('_footer'); -%>
    </body>
</html> -->