
<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <!-- importing header using ejs (_header.ejs file in same folder) -->
        <!-- <%- include('_header'); -%> -->

    <link rel="stylesheet" href="css/home.css">
    <div id="home-container">
        <h1>Codeial Home page and the title is <%= title %></h1>
    </div>


    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="type here..."></textarea>
            <input type="submit" value="Post">
        </form>
    </section>
        <!-- <a href="/users/sign-up"> SiGN UP</a> -->

        <!-- importing footer using ejs (_footer.ejs file in same folder)
        <%- include('_footer'); -%>
    </body>
</html> -->